---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {% if post.content contains site.excerpt_separator %}
	{{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}"
	class="read-more">Read More</a><span class="date">
	   from {{ post.date | date: "%B %e, %Y" }}
	 </span>
	{% else %}
	{{ post.content }}
	 <div class="date">
	   Written on {{ post.date | date: "%B %e, %Y" }}
	 </div>
	{% endif %}

      </div>
      
    </article>
  {% endfor %}
</div>
<a rel="me" href="https://mastodon.me.uk/@drdrmc">Mastodon</a>
